[submodule "src/StmEpic"]
	path = src/StmEpic
	url = git@github.com:KoNarRobotics/StmEpic.git
[submodule "src/can_constants"]
	path = src/can_constants
	url = git@github.com:KoNarRobotics/can_constants.git
